parameters:
    level: 9
    paths:
        - src
        - tests
    phpVersion: 80200
    tmpDir: .phpstan
    ignoreErrors:
        - '#Cannot access offset .+ on mixed#'
        - '#Parameter .+ expects .+, (mixed|array<int, mixed>|Closure) given#'
        - '#return type has no value type specified in iterable type array#'
        - '#should return .+ but returns .+#'
        - '#Strict comparison using === between .+ will always evaluate to false#'
        - '#Argument of an invalid type mixed supplied for foreach#'
        - '#Result of && is always false#'
        - '#Parameter \#2 \$callback of function array_filter expects#'

